form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1ch;
	margin: 2rem 0;
}

form > input {
	width: 15rem;
}

h1 {
	font-size: 3rem;
	padding: 1rem;
}

div {
	text-align: center;
}

ol {
	display: inline-flex;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: left;
	gap: 1em;
	margin: 0;
}

ol > li {
	font-size: 1.5rem;
	overflow-wrap: normal;
}
